/* ROOT COLORS */

/* DARK - ORANGE */
:root {
    --backgroundMain: rgb(13,13,13);
    --backgroundSecond: rgb(23,23,23);
    --colorMain: ##ADD8E6;
    --circleColor: ##ADD8E6;
    --colorText: ##ADD8E6;
    --colorDefault: ##ADD8E6;
}

/* LIGHT - PURPLE */
/*:root {*/
/*    --backgroundMain: #F9F9F9;*/
/*    --backgroundSecond: #0D0C14;*/
/*    --colorMain: #5536DE;*/
/*    --circleColor: rgba(3, 5, 7, 0.74);*/
/*    --colorText: #8a8891;*/
/*    --colorDefault: #5e5b5b;*/
/*}*/
